<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>基本地图展示</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.3&key=54cbab4027fea6dd7f05c44bd1b403da	"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
    <style type="text/css">
    .img-thumbnail{
      height:60px
    }
  </style>
</head>
<body>
<div id="container"></div>

<script>

    function picdiv(picname){
      var div;
      div=document.createElement("div");
      div.innerHTML='<img src="'+picname+'" alt="pic" class="img-thumbnail" id="'+picname+'">';
      return div;
    }

    function picmark(map, picname, x, y){
      var div=picdiv(picname);
      var position=new AMap.LngLat(Number(x),Number(y));
      var offset=new AMap.Pixel(0,0);
      var mark = new AMap.Marker({map:map, position:position, offset:offset});
      mark.setContent(div);
      return mark;
    }

    function movestep(mark, xtarget, ytarget, xx, yy){
      if (Math.abs(xtarget)>Math.abs(xx))
        if (xtarget <0)
          xx=xx-step;
          else
          xx=xx+step;
      if (Math.abs(ytarget)>Math.abs(yy))
          if (ytarget <0)
              yy=yy-step;
          else
              yy=yy+step;
      mark.setOffset(new AMap.Pixel(xx, yy));
      if ((Math.abs(xtarget)>Math.abs(xx)) || (Math.abs(ytarget)>Math.abs(yy)))
        setTimeout(function(){movestep(mark, xtarget, ytarget, xx, yy);}, 20);
    }

    function enlarge(img){
      var h=img.style.height;
      h=h.split('px')[0];
      h=Number(h);
      h=h+5;
      img.style.height=String(h)+'px';
      if (h<=100)
        setTimeout(function(){enlarge(img);}, 20);
    }

    function overshow(){
      var img=this.firstChild;
      enlarge(img);
      var id=img.id;
      var thismark = marks[id];
      var thispos = thismark.getPosition();
      var otherid, othermark, otherpos, xdist, ydist, adjust, extend;
      for (otherid in marks){
        if (otherid == id) continue;
        othermark = marks[otherid];
        otherpos = othermark.getPosition();
        xdist = otherpos.getLng()-thispos.getLng();
        ydist = otherpos.getLat()-thispos.getLat();
        adjust = 0.005;
        extend = 0.2;
        function dist_offset(dist){
          var offset;
          if (dist>0)
            offset=extend/(dist+adjust);
          else
            offset=extend/(dist-adjust);
          return offset;

          }
        var xoffset, yoffset;
        xoffset=dist_offset(xdist);
        yoffset=(-1)*dist_offset(ydist);
//        console.log(otherid, xdist, ydist, xoffset, yoffset);
        movestep(othermark, xoffset, yoffset, 0, 0);
      }
    }

    function outshow(){
      var img=this.firstChild;
      img.style.height='60px';
      for (otherid in marks){
          othermark = marks[otherid];
          othermark.setOffset(new AMap.Pixel(0, 0));
      }
    }
    var map = new AMap.Map('container', {
        resizeEnable: false,
        zoom:16,
        zoomEnable:false,
        center: [116.30946636, 39.99558313]

    });

    var step=2;

    var marks=new Object();
    $.get('/api/img/list_around_images', {
      longitude:116.30946636,
      latitude:39.99558313
    }, working);

  function working(data, status){
    var pictures=[];
    var i;
    var result=data.data;
    for (i=0; i<result.length; i++){
      pictures.push(['/download/'+result[i].path, result[i].longitude, result[i].latitude]);
    }

    var thismark, div, img, id;
    for (i=0; i<pictures.length; i++){
      thismark = picmark(map, pictures[i][0], pictures[i][1], pictures[i][2]);
      thismark.show();
      div = thismark.getContent();
      img = div.firstChild;
      id = img.id;
      marks[id]=thismark;
      div.onmouseover=overshow;
      div.onmouseout=outshow;
    }
  }

</script>
</body>
</html>
